.p-message-secondary.p-message-outlined {
    outline-color: #cbd5e1 !important;
     box-shadow: 0px 4px 8px 0px
    color-mix(in srgb, #cbd5e1, transparent 96%) !important;
}

.p-card {
    border-color: #cbd5e1 !important;
    box-shadow: 0px 4px 8px 0px
    color-mix(in srgb, #cbd5e1, transparent 96%) !important;
    border-radius: 8px !important;
}