
.p-datatable {
    font-size: 12px !important;
}
.p-datatable-column-title {
    font-weight: 750 !important;
}

.p-inputtext {
    border-width: 0.4px !important;
}

.p-datatable-tbody > tr  {
    background: transparent;
}

.p-datatable-header-cell {

    background: transparent;
}